{
  "printWidth": 100,
  "singleQuote": true,
  "proseWrap": "always",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/CHANGELOG.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
